<h1 mat-dialog-title><b>{{title}}</b> <mat-icon color="primary" aria-label="edit">{{icon}}</mat-icon> {{key}}</h1>
<div mat-dialog-content>
{{message}}
</div>
<div mat-dialog-actions align="end" class="md-button-right">

    <mat-form-field *ngIf="type === 'delete'" class="w-100">
        <input matInput placeholder="Please input '{{key}}' to confirm" name="confirm" [(ngModel)]="confirm">
    </mat-form-field>

  <button mat-button color="primary" (click)="onConfirmed()">Confirm</button>
  <button mat-raised-button color="primary" cdkFocusInitial mat-dialog-close>Cancel</button>
</div>
