<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.forsrc.jredmine.server.dao.mapper.UserMapper">

    <resultMap id="resultMap" type="com.forsrc.jredmine.server.model.User">
        <id property="username" column="username"/>
        <result property="username" column="username"/>
        <result property="password" column="password"/>>
        <result property="enable" column="enable" />
        <result property="createdAt" column="created_at" />
        <result property="updatedA" column="updated_at" />
        <result property="version" column="version" />
    </resultMap>

    <select id="getByResourceId" resultType="com.forsrc.jredmine.server.model.User"
            resultMap="resultMap">
        SELECT * FROM t_user U INNER JOIN t_authority A ON U.username = A.username WHERE A.authority = #{authority}
    </select>
</mapper>