<div class="container">
      <h3 mat-dialog-title>{{ title }} <mat-icon color="primary" aria-label="edit">edit</mat-icon> Username: {{ userRole.username }}</h3>

      <mat-form-field class="w-100">
            <input matInput placeholder="Username" value="{{userRole.username}}">
      </mat-form-field>
      <mat-form-field class="w-100">
            <input matInput placeholder="Role" value="{{userRole.role}}" [(ngModel)]="userRole.role" >
      </mat-form-field>
      <section mat-dialog-actions align="end" class="md-button-right">
            <button color="primary" mat-raised-button cdkFocusInitial [mat-dialog-close]="userRole"> Confirm </button>
            <button color="primary" mat-button cdkFocusInitial mat-dialog-close> Cancel </button>
      </section>
</div>
