<ion-view view-title="Home" align-title="left" ngcontroller="homeCtrl">
    <<ion-nav-bar class="bar-positive" ng-if="ionNavNar.enable">
        <ion-nav-back-button>
        </ion-nav-back-button>
    </ion-nav-bar>
    <ion-content>
        <div ng-cloak layout-padding>
            <md-content>
                <md-tabs md-dynamic-height md-border-bottom>
                    <md-tab label="one">
                        <md-content class="md-padding">
                            <h1 class="md-display-2">Tab One</h1>
                            <p>1</p>
                        </md-content>
                    </md-tab>
                    <md-tab label="two">
                        <md-content class="md-padding">
                            <h1 class="md-display-2">Tab Two</h1>
                            <p>2</p>
                        </md-content>
                    </md-tab>
                    <md-tab label="three">
                        <md-content class="md-padding">
                            <h1 class="md-display-2">Tab Three</h1>
                            <p>3</p>
                        </md-content>
                    </md-tab>
                </md-tabs>
            </md-content>
        </div>
    </ion-content>
</ion-view>
