
user-page {
  height: 100%;
  width: 100%;
  padding: 30px;
  overflow: hidden;
}

.basic-container {
  padding: 30px;
}



table {
  width: 100%;
}


app-scene-viewer {
  align-items: center;
  justify-content: center;
  display: flex;
  width: 360px;
  height: 200px;
  background-color: #fff2f4;
}

.scene-overlay-container {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}


.mat-elevation-z8 {
  overflow-x: auto;
 }
