<header>
</header>

<div class="user-page mat-app-background- basic-container mat-elevation-z8-">


  <!-- filter -->
  <mat-form-field>
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium">
  </mat-form-field>



  <div class="main-container mat-elevation-z8">
    <!-- table -->
    <mat-table [dataSource]="dataSource" matSort >

      <!-- Column -->
      <ng-container matColumnDef="index">
        <mat-header-cell *matHeaderCellDef mat-sort-header><b> No. </b></mat-header-cell>
        <mat-cell *matCellDef="let element"><span class="mobile-label">No.</span> {{element.index}} </mat-cell>
      </ng-container>

      <!-- Column -->
      <ng-container matColumnDef="username">
        <mat-header-cell *matHeaderCellDef mat-sort-header><b> Name </b></mat-header-cell>
        <mat-cell *matCellDef="let element"><span class="mobile-label">Name</span> {{element.username}} </mat-cell>
      </ng-container>

      <!-- Column -->
      <ng-container matColumnDef="password">
        <mat-header-cell *matHeaderCellDef mat-sort-header><b> Password </b></mat-header-cell>
        <mat-cell *matCellDef="let element"><span class="mobile-label">Password</span> {{element.password}} </mat-cell>
      </ng-container>

      <!-- Column -->
      <ng-container matColumnDef="enabled">
        <mat-header-cell *matHeaderCellDef mat-sort-header><b> Enabled </b></mat-header-cell>
        <mat-cell *matCellDef="let element"><span class="mobile-label">Enabled</span> {{element.enabled == 1}} </mat-cell>
      </ng-container>
      <!-- Column -->
      <ng-container matColumnDef="version">
        <mat-header-cell *matHeaderCellDef mat-sort-header><b> Version </b></mat-header-cell>
        <mat-cell *matCellDef="let element"><span class="mobile-label">Version</span> {{element.version}} </mat-cell>
      </ng-container>
      <!-- Column -->
      <ng-container matColumnDef="createdAt">
        <mat-header-cell *matHeaderCellDef mat-sort-header><b> CreatedAt </b></mat-header-cell>
        <mat-cell *matCellDef="let element"><span class="mobile-label">CreatedAt</span> {{element.createdAt}} </mat-cell>
      </ng-container>
      <!-- Column -->
      <ng-container matColumnDef="updatedAt">
        <mat-header-cell *matHeaderCellDef mat-sort-header><b> UpdatedAt </b></mat-header-cell>
        <mat-cell *matCellDef="let element"><span class="mobile-label">UpdatedAt</span> {{element.updatedAt}} </mat-cell>
      </ng-container>
      <!-- Column -->
      <ng-container matColumnDef="action">
        <mat-header-cell *matHeaderCellDef mat-sort-header><b> Action </b></mat-header-cell>
        <mat-cell *matCellDef="let element">
          <span class="mobile-label">Action</span>
          <button mat-icon-button color="primary" matTooltip="edit a user">
            <mat-icon (click)="edit(element)" aria-label="edit">edit</mat-icon>
          </button>
          <button mat-icon-button color="warn" matTooltip="delete a user">
            <mat-icon (click)="delete(element)" aria-label="delete">delete_forever</mat-icon>
          </button>
        </mat-cell>
      </ng-container>
      <!--displayedColumns -->
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>

    <mat-paginator
      [length]="page.length"
      [pageSize]="page.pageSize"
      [pageSizeOptions]="page.pageSizeOptions"
      [pageIndex]="page.pageIndex"
      (page)="onPage($event)"
      showFirstLastButtons>
    </mat-paginator>
  </div>
</div>
